<template>
  <section id="DietaryRestrictions" class="view au-animate">

    <header class="bar bar-nav">
      <a class="icon icon-left-nav pull-left" click.trigger="router.navigateBack()"></a>
      <h1 class="title">Nutrition 2 Go: Diet Restriction</h1>
    </header>

        <div class="main-content">

            <input type="checkbox" value="0">Vegan</input><br>
            <input type="checkbox" value="1">Lacto-Ovo Vegetarian</input><br>
            <input type="checkbox" value="2">Lacto Vegetarian</input><br>
            <input type="checkbox" value="3">Octo Vegetarian</input><br>
            <input type="checkbox" value="4">Kosher</input><br>
            <input type="checkbox" value="5">Halaal</input><br>
            <input type="checkbox" value="6">Lactose Free</input><br>
            <input type="checkbox" value="7">Low Sugar</input><br>
            <input type="checkbox" value="8">Low Cholesterol</input><br>
            <input type="checkbox" value="9">Low Salt</input><br>
            <input type="checkbox" value="10">Food Allergy (e.g. gluten...)</input><br>
        </div>
        <div class="button-container">
          <button class="next"  click.trigger="done()">Done</button>
        </div>
  </section>
</template>
