<template>
  <section id="Home" class="view au-animate">

    <header class="bar bar-nav">
      <a class="icon icon-left-nav pull-left" click.trigger="router.navigateBack()"></a>
      <h1 class="title">${router.title}: Home</h1>
    </header>


        <div class="main-content">

          <section>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/718smiley.svg/2000px-718smiley.svg.png" alt="happy face" />
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Bush_approval_ratings_line_graph.png" alt="chart" />
          </section>

            <button click.trigger="trackCalories()">Track Calories</button><br>
            <button click.trigger="updateWeight()">Update Weight</button><br>
            <button click.trigger="whatToEat()">What to Eat</button><br>
            <button click.trigger="recipeBook()">Recipe Book</button><br>

        </div>


  </section>
</template>
