<template>
  <section id="SetGoal" class="view au-animate">



        <header class="bar bar-nav">
          <a class="icon icon-left-nav pull-left" click.trigger="router.navigateBack()"></a>
          <h1 class="title">Nutrition 2 Go: Set Goals</h1>
        </header>

        <div class="main-content">
            <select class="goal" name="userGoal" value.bind="goal">
              <option repeat.for="g of user_goals" value.bind="g">${g}</option>
            </select><br>
            <input type="number" placeholder="Enter Weight Goal" value.bind="goal_weight">
        </div>
        <div class="button-container">
          <button class="next"  click.trigger="done()">Done</button>
        </div>


  </section>
</template>
