<template>
  <section id="Setup" class="view au-animate">

    <header class="bar bar-nav">
      <a class="icon icon-left-nav pull-left" click.trigger="router.navigateBack()"></a>
      <h1 class="title">Nutrition 2 Go: User Info</h1>
    </header>


    <div class="main-content">

      <div class="card">
        <ui class="table-view">
          <li class="table-view-cell">
            <input type="text" placeholder="Name" value.bind="name">
          </li>
          <li class="table-view-cell">
            <input type="number" placeholder="Age" value.bind="age">
          </li>
          <li class="table-view-cell">
            <input type="number" placeholder="Weight" value.bind="weight">
          </li>
          <li class="table-view-cell">
            <input type="number" placeholder="Height Feet" value.bind="height_feet">
          </li>
          <li class="table-view-cell">
            <input type="number" placeholder="Height Inch" value.bind="height_inches">
          </li>
          <li class="table-view-cell">
            <select class="activity" value.bind="activity_level">
              <option repeat.for="activity of user_activities">${activity}</option>
            </select>
          </li>
          <li >
            <button click.trigger="displayRestrictions()" class="btn btn-block">Dietary Restrictions</button>
          </li>
        </ui>
      </div>
    </div>

    <div class="button-container">
      <button class="next" click.trigger="done()">Done</button>
    </div>

  </section>
</template>
