<template>
  <section id="Tutorial3" class="view au-animate">
    <!-- This needs the Background image of the applicatoin
        some explaination text
        a skip and cancel button
     -->
     <header class="bar bar-nav">
       <a class="icon icon-left-nav pull-left" click.trigger="router.navigateBack()"></a>
       <h1 class="title">Nutrition 2 Go:Tutorial</h1>
     </header>

      <div class="main-content">
          <h1>Tutorial 3</h1>
          <p>Content</p>
          <h2>Ending</h2>
      </div>

      <div class="button-container">
        <button class="next"  click.trigger="next()">next</button>
      </div>
  </section>
</template>
