html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background-color: black;
}
html, body, * {
  margin: 0;
  padding: 0;
}
#screen {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
header {
  position: static !important;
  flex: 1 50px;
  max-height: 50px;
}
#content {
  flex: 1 1 100%;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.view {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: -12px 2px 20px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -12px 2px 20px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -12px 2px 20px -13px rgba(0, 0, 0, 0.75);
}
.main-content {
  padding: 5px;
  flex: 10 1 0;
  overflow: auto;
}
.button-container {
  display: flex;
  flex: 1 1 50px;
}
.button-container button {
  flex: 1 1 0;
}
img {
  width: 10em;
  height: auto;
}
